<ion-view hide-tabs="true">
    <ion-nav-title>我的能力</ion-nav-title>
    <ion-nav-buttons side="right">
        <i class="ion-share" style="line-height:34px;font-size:28px;"></i>
    </ion-nav-buttons>
    <ion-content>
        <div class="box1 stable-bg">
            <h3 class="text-center">能力示意图</h3>
            <img src="images/nengli.png"></div>


        <div class="list">
            <div class="item">
                <div class="row">
                    <div class="col col-75">
                        <i class="ion-cube"></i>
                        最近常用英雄
                    </div>
                </div>
                <div class="row">
                    <div class="col pic1">
                        <img src="images/zichan_03.jpg">
                    </div>
                    <div class="col pic1">
                        <img src="images/zichan_05.jpg">
                    </div>
                    <div class="col pic1">
                        <img src="images/zichan_07.jpg">
                    </div>
                    <div class="col pic1">
                        <img src="images/zichan_11.jpg">
                    </div>
                    <div class="col pic1">
                        <img src="images/zichan_09.jpg">
                    </div>
                </div>

                <div class="row">
                    <div class="col col-20 item-text-wrap">
                        <p>99场47%胜率</p>
                    </div>
                    <div class="col col-20 item-text-wrap">
                        <p>124场56%胜率</p>
                    </div>
                    <div class="col col-20 item-text-wrap">
                        <p>132场46%胜率</p>
                    </div>
                    <div class="col col-20 item-text-wrap">
                        <p>42场55%胜率</p>
                    </div>
                    <div class="col col-20 item-text-wrap">
                        <p>120场59%胜率</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col">
                        <h2 class="item-thumbnail-left"><img src="images/3_03.jpg">我的胜率排名</h2>
                    </div>
                    <div class="col col-10 icon-right">1
                        <span class="icon ion-ios-arrow-right" style="font-size:16px;"></span>
                    </div>
                </div>
            </div>
            <div class="item item-thumbnail-left item-icon-right">
                <img src="images/2_39.jpg">
                <h2>我的英雄时刻（视频）</h2>
                <i class="icon ion-ios-arrow-right" style="font-size:16px;"></i>
        </div>
    </ion-content>
</ion-view>