<ion-view hide-tabs="true">
    <ion-nav-title>我的资产</ion-nav-title>
    <ion-nav-buttons side="right">
        <i class="ion-share" style="line-height:34px;font-size:28px;"></i>
    </ion-nav-buttons>
    <ion-content>
        <div class="row">
            <div class="col col-20" style="font-size:18px;font-weight: 600;">余额</div>
            <div class="col col-20"><a>点券0</a></div>
            <div class="col col-34"><a>金币7620</a></div>
            <div class="col icon-right">资产记录
                <span class="icon ion-ios-arrow-right" style="font-size:16px;"></span>
            </div>
        </div>

        <div class="list">
            <div class="item">
                <div class="row">
                    <div class="col col-75">
                        <i class="ion-cube"></i>
                        拥有的英雄（57/131）
                    </div>
                    <div class="col icon-right">查看全部
                        <span class="icon ion-ios-arrow-right" style="font-size:16px;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col pic1">
                        <img src="images/zichan_03.jpg">
                    </div>
                    <div class="col pic1">
                        <img src="images/zichan_05.jpg">
                    </div>
                    <div class="col pic1">
                        <img src="images/zichan_07.jpg">
                    </div>
                    <div class="col pic1">
                        <img src="images/zichan_11.jpg">
                    </div>
                    <div class="col pic1">
                        <img src="images/zichan_09.jpg">
                    </div>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="item">
                <div class="row">
                    <div class="col col-75">
                        <i class="ion-cube"></i>
                        拥有的皮肤（8/699）
                    </div>
                    <div class="col icon-right">查看全部
                        <span class="icon ion-ios-arrow-right" style="font-size:16px;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col pic1">
                        <img src="images/zichan_18.jpg">
                    </div>
                    <div class="col pic1">
                        <img src="images/zichan_20.jpg">
                    </div>
                    <div class="col pic1">
                        <img src="images/zichan_22.jpg">
                    </div>
                    <div class="col pic1">
                        <img src="images/zichan_24.jpg">
                    </div>
                </div>

                <div class="row">
                    <div class="col pic1">
                        <img src="images/aaa00.png">
                    </div>
                    <div class="col pic1">
                        <img src="images/aaa01.png">
                    </div>
                    <div class="col pic1">
                        <img src="images/aaa02.png">
                    </div>
                    <div class="col pic1">
                        <img src="images/aaa03.png">
                    </div>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>